/* CSS Document */
body{
		background:url(images/header.jpg) repeat-x top left;
		padding:0px;
		margin:0px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#666666;

	}
input, textarea, select{
				font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#666666;	
		border:1px solid #ccc;
		
		}
form, span{
		padding:0px;
		margin:0px;
	}
h2{
		padding:0px;
		margin:0px;
		font-size:24px;
		color:#666666;
	}
h3{
		padding:0px;
		margin:0px;
		font-size:11px;
	}
.maincontainer{
		width:1000px;
		height:auto;
		text-align:left;
	}
.header_container,.subheader_container{
		width:1000px;
		height:auto;
		float:left;
	}
.logo_container{
		float:left;
		height:70px;
	}
.mainmenu_container{
		width:500px;
		height:33px;
		float:left;
	}
.login_container{
		width:500px;
		height:33px;
		float:right;
	}
ul.mainmenu{
		float:left;
		padding:0px;
		margin:0px;
	}	
ul.mainmenu li{
		display:inline;
		padding:0px 5px 0px 5px;		
		margin:0px;
		float:left;
	}

.login_form{
		float:right;
		padding:2px;
	}
.body_container{
	float:left;
	width:1000px;
	padding:10px 0;
}
.maincontent_container{
	float:left;
	width:750px;
}
.mainright_container{
	float:right;
	width:250px;
	padding-bottom:10px;
}
.recomended{
		float:left;
		padding:20px;
	}

/*link style*/
	a.mainmenu_style:link, a.mainmenu_style:visited{
		text-decoration:none;
		color:#333;
		font-weight:bold;
		padding:0px 0px;
		display:block;
		float:left;
	}
a.mainmenu_style:link span, a.mainmenu_style:visited span{
 		padding:8px 10px 10px 10px;
		float:left;
		display:block;
	}
	a.mainmenu_style:hover{
		text-decoration:none;
		color:#fff;
		font-weight:bold;
		background:url(images/menu2.gif) no-repeat right top;
		
	}
	a.mainmenu_style:hover span{
		background:url(images/menu1.gif) no-repeat left top;
		display:block;
		padding:8px 10px 10px 10px;
	}
	a#active{
		text-decoration:none;
		color:#fff;
		font-weight:bold;
		background:url(images/menu2.gif) no-repeat right top;
		
	}
	a#active span{
		background:url(images/menu1.gif) no-repeat left top;
		display:block;
		padding:8px 10px 10px 10px;
	}
	a.thumb-up, a.thumb-up:visited{
			background:url(images/thumb.gif) no-repeat left;
			display:block;
			height:34px;
			width:52px;
		
		}
	 a.thumb-up:hover{
	 		background:url(images/thumb-on.gif) no-repeat left;
		}
		
	a.grey , a.grey:visited {
			color:#666;
			text-decoration:none;
		}

	a.grey:hover{
			color:#710000;
			text-decoration:underline;
		}
	a.white , a.white:visited {
			color:#fff;
			text-decoration:none;
		}

	a.white:hover{
			color:#fff;
			text-decoration:underline;
		}
	a.title , a.title:visited{
			font-size:24px;
			color:#666666;
			font-weight:bold;
			text-decoration:none;
		}
	a.title:hover{
			color:#710000;
		}
	
/**/
/*post style*/
	.content{
			float:left;
			height:auto;
			width:750px;
			padding:0px 0 10px 0;
		}
	.post-detail{
			float:left;
			width:100%;
			height:auto;
		}
	.post-content{
			float:left;
			width:730px;
			height:auto;
			border-bottom:1px solid #999999;
			padding:10px;
		}
		.post-content-detail{
			float:left;
			width:730px;
			height:auto;
			padding:10px;
		}
	.thumb, .small-avatar, .detail{
			float:left;
			padding-left:10px;
		}
	.thumb_number{
			height:19px;
			width:52px;
			background:url(images/bg-thumb.gif) no-repeat;
			display:block;
			text-align:center;
			font-size:12px;
			color:#710000;
			font-weight:bold;
		}
	.mymenu_title{
			float:left;
			width:740px;
			background:#ececec;
			font-size:16px;
			font-weight:bold;
			padding:5px;
			text-transform:uppercase;
		}
	.mymenu_content{
			float:left;
			width:730px;
			padding:5px;
			
		}
	.my_menu_list{
			float:left;
			width:730px;
			padding:0 0 0 0px;
		}
	.img{
			float:left;
			padding:5px;
		}
	.username{
			float:left;
			width:300px;
		}
/*end post*/
/* sign up */
	.form-container{
			float:left;
			width:100%;
			min-height:370px;
		}
	.form_title{
		 background:#ececec;
		 padding:5px;
		 font-size:14px;
		 font-weight:bold;
		}
	.form_content{
		float:left;
		padding:10px 0;
	}
		.signup-container, .login-container{
			width:400px;
			
		}
		
	.signup-container{
		float:left;
	}
	.login-container{
		float:right;
		}
	
/*end sign up*/
/*right side*/

	.username{
			float:left;
			color:#333; 
			font-weight:bold; 
			padding-bottom:5px;
		}
	.user-detail{
			float:right;
			width:230px;
			height:auto;
			background:#e0e0e0;
		}
	.user-detail div.bg1
		{
			float:right;
			width:230px;
			background:url(images/top.gif) no-repeat top;
			}
	.user-detail div.bg1 div.bg2 
		{
			float:right;
			width:230px;
			background:url(images/bottom.gif) no-repeat bottom;
			padding-bottom:10px;
			}
			
	.userdata{
		float:left;
		padding:10px;
		width:210px;
		text-align:left;
	}
	.main-detail{
			float:left;
			width:210px;
		}
	.big-avatar{
			float:left;		
		}
	.detail{
			float:left;
			padding-left:10px;
			
		}
	.detail span{
			width:120px;
			display:block;
		}
	.aditional-detail{
			float:left;
			width:210px;
			font-weight:bold;
			padding-top:10px;
		}
	.adding-menu{
			float:left;
			width:220px;
			background:#c5c5c5;
			padding:5px 10px 5px 0px;
			text-align:right;
		}
		
/*end right side*/

/* Search */
	.search_container{
			float:right;
			padding:0 0 10px 0;
			width:250px;
			text-align:right;
		}
/*end search*/
/*Advertise*/
	.adv_container{
		float:right;
		text-align:right;
		width:230px;
	}
/*end adv*/

/* comment*/
	.comment-title{
			background:#ebebeb;
			font-size:11px;
			color:#333333;
			float:left;
			width:740px;
			padding:3px 0px 3px 10px;
			font-weight:bold;
			text-transform:uppercase;	
		}
	 .comment-post{
	 		float:left;
			width:750px;
			padding:10px 0;
			border-bottom:1px solid #999999;
			height:auto;
		}
	.comment-detail{
			float:left;
			padding:0px 10px;
		}
	.edit_link{
		float:right;
		padding-right:10px;
		}	
	.add_comment{
			float:left;
			margin:10px 0;
			background:#ececec;
			padding:10px 20px;
		}
	.input_comment{
			float:left;
			width:710px;
		}
	.btn_comment{
			float:right;
			padding-top:10px;
		}
	.member-list{
			float:left;
			width:350px;
			padding:10px 0px;
		}
	.small-text{
			font-size:10px;
			color:#999;
			
		}
/*end comment*/
/* fans style*/
	.fans_container{
			float:right;
			text-align:right;
			width:230px;
			margin:0px 0 10px 0;
		}
	.fans-menu{
			width:220px;
			padding-left:10px;
			text-align:left;
			float:left;
		}
	.fans-menu ul{
			margin:0;
			padding:0;
			float:left;
		}
	.fans-menu ul li{
			list-style:outside;
			display:inline;
			padding:0 3px 0 0 ;
			float:left;
		}
	a.fans-link, a.fans-link:visited{
			background:url(images/subon-right.gif) right top no-repeat  ;
			
			text-decoration:none;
			font-weight:bold;
			color:#fff;
			float:left;
		}
	
	a.fans-link span, a.fans-link:visited span{
			background:url(images/subon-left.gif) no-repeat left top;
			padding:5px 7px;
			float:left;
			}
	a.fans-link:hover{
			
			background:url(images/sub-left.gif) left top no-repeat  ;
			color:#666;
		}
	a.fans-link:hover span{
			background:url(images/sub-right.gif) right top no-repeat  ;
			color:#666;
		}
		
	a.hover span{
			background:url(images/sub-left.gif) no-repeat left top;
			color:#666;
		}
	
	#fans-active{
			background:url(images/sub-right.gif) right top no-repeat  ;
			color:#666;
			float:left;
			
		}
		
	#fans-active span{
			background:url(images/sub-left.gif) no-repeat left top !important;
			color:#666;
			float:left;
			padding:5px 7px !important;
		}
		
	a#fans-active:hover {
			color:#fff;
			float:left;
			
		}
		

		
	.fans-list{
		padding:10px;
		float:left;
		}
	
/*end of fans*/
/*footer*/
.footer_container{
		background:url(images/footer.jpg) repeat-x bottom;
		width:100%;
		height:53px;
		float:left;
		bottom:0;
	}
.mainfooter{
		width:1000px;
		height:auto;
		text-align:left;		
	}
.footer{
		float:left;
		width:1000px;
	}
.link_footer{
	float:left;
	width:300px;
	padding:15px;
	color:#fff;
}
.copyright{
	float:right;
	width:500px;
	padding:15px;
	text-align:right;
	color:#fff;
}

/*end footer*/